<%= form_with(model: @estimate) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <table class="table center-block">
    <tr>
      <th style="width: 30%"><%= f.label :name, "氏名" %></th>
      <td style="width: 70%"><%= f.text_field :name, value: @estimate.name, class: 'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_field :address, value: @estimate.address, class: 'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :tel, "電話番号" %></th>
      <td><%= f.text_field :tel, value: @estimate.tel, class: 'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :content, "面談内容" %></th>
      <td><%= f.text_field :content, value: @estimate.content, class: 'form-control' %></td>
    </tr>
  </table>

  <div class="row justify-content-sm-center">
    <div class="col-sm-auto">
      <%= link_to "戻る", estimate_path(@estimate.id), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-auto">
      <%= f.submit '保存', class: "btn btn-primary" %>
    </div>
  </div>  

<% end %>